.message-2CShn3 .flexChild-3PzYmX {
    font-size: 0.85rem;
    background-color: rgb(59, 59, 59);
    line-height: 1.125rem;
    vertical-align: middle;
    margin-right: 3px;
    border: solid 1px black;
    padding: 2px 4px;
    margin-left: 0;
    flex: unset !important;
  }
 .message-2CShn3 a.flexChild-3PzYmX {
    border-color: #00ff15;
    background-color: black;
  }
